
.root {
    -fx-background-color: linear-gradient(to bottom, orange, blueviolet);
}

.button {
    -fx-background-color: transparent;
    -fx-border-color: orange;
    -fx-border-radius: 5;

}

.button:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-cursor: hand;
}