.root {
    -fx-background-color: linear-gradient(to bottom, blueviolet, orange);
}

.timeLabel {
    -fx-background-color: #333333;
    -fx-background-radius: 5;
    -fx-border-color: silver;
    -fx-text-fill: red;
    -fx-border-width: 2;
    -fx-border-radius: 5;
}

.reset {
    -fx-background-color: #333333;
    -fx-text-fill: #00FF00;
    -fx-border-color: silver;
    -fx-border-width: 2;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}


